
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #f4f409);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


h1 {
  color: gold;
  font-size: 6em;
  font-weight: bold;
}

h2{
  color: firebrick;
  font-size: 5em;
}
